src/main/mule/helloworldjenkindeployment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cb555731-0a5a-479e-8bba-73e7c9a4ac29" >
		<http:listener-connection host="0.0.0.0" port="8086" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="fff1aeb3-3bd0-490f-81f8-6b5acf795fb3" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="helloworldjenkindeploymentFlow" doc:id="2925de01-f078-4d28-945d-eeb976897c69" >
		<http:listener doc:name="Listener" doc:id="5c3852ba-0e27-46ab-bfbf-7a90005c83fa" config-ref="HTTP_Listener_config" path="/hellojenkins/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="ba624be5-3823-4509-ab78-f2a9effa4af1" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		
		
	</flow>
</mule>
